body
{
     font-family: 'Montserrat', sans-serif;
}


h1
{
font-family: 'Montserrat-Black', sans-serif;
font-size: 3.5rem;
line-height:1.5;


}

h2
{
    font-family:'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5
    font-weight:bold;
}

h3
{
font-family: 'Montserrat-Bold', sans-serif;
font-size: 1.5rem;
font-weight: bold;
}

p
{
    color: #8f8f8f;
}

#title
{
    background-color:#ff4c68;
    color: white;

   
    margin-bottom:0 0 500px 0;
}




.container-fluid
{
    padding:3% 15% 7%;
}

            /*navbar*/

.navbar
{
    padding: 0 0 2.5rem;
}


.navbar-brand
{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item
{
    padding: 0 18px;
}
..nav-link
{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;

    font-weight: 
}
.Download-button
{
    margin: 5% 3% 5% 0;
}

            /*TITLE*/

.title-image
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  
}






                /*FEATURES*/
#features
{

padding: 7% 15%;
background-color: white;
position:relative;
    z-index: 1;
}
.feature-box
{
    text-align: center;
    padding: 5%;
    
}

.icon
{
     color: #ef8172;
     margin-bottom: 1rem;
}

.icon:hover

{
    color:#ff4c68;
}

/*testimonials*/

#testimonials
{
   
    text-align:center;
background-color:#ef8172;
color: white;

}

.testimonial-image
{
    width:10%;
    border-radius: 100%;

    margin:20px; 

}
#press
{
    text-align: center;
    background-color: #ef8172;
    padding-bottom:3%; 

}
.press-logo
{
width: 15%;
margin: 20px 20px 50px;
}

.carousel-item
{
   padding: 7% 15%;
}

        /*pricing*/

#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing-column
{

    padding:3% 2%; 
}

@media(max-width: 1028px)
{

#title
{
    text-align: center;
}

.title-image
{
    width: 60%;
    transform: rotate(0);
    position:static;

}
}

                /*Calll to action sectuion*/

#cta
{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: white;
  
}

.cta-heading
{
    font-family: 'Montserrat-Black', sans-serif;
font-size: 3.5rem;
line-height:1.5;
}

            /*Footer section*/

#footer
{
    text-align: center;
    background-color: white;
    padding:7% 15%;
}

.footer-icon
{
    padding: 20px 10px;
}
 


